In [1]:
import numpy as np
print('hello world')

hello world

In [2]:
print('additional')

additional

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('data_sf.csv', sep=',')
display(df.tail(4))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [17]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [18]:
print(df.count(axis='columns')) #columns quantity

0        42
1        42
2        42
3        42
4        42
         ..
12892    42
12893    42
12894    42
12895    42
12896    42
Length: 12897, dtype: int64

In [32]:
df[['Club','Age','Wage','Penalties']].describe() #statistics ONLY numerical columns!!

                Age           Wage     Penalties
count  12897.000000   12897.000000  12897.000000
mean      24.795379    7517.562224     46.459874
std        4.872212   23061.985387     15.479313
min       16.000000    1000.000000      5.000000
25%       21.000000    1000.000000     37.000000
50%       24.000000    2000.000000     47.000000
75%       28.000000    4000.000000     58.000000
max       45.000000  565000.000000     91.000000

In [31]:
#statistics NON numerical columns!!
df[['Club','Age','Wage','Nationality']].describe(include = ['object'])

                    Club Nationality
count              12897       12897
unique               650         156
top     V-Varen Nagasaki     England
freq                  30        1368

In [7]:
print(df['Age'].max(), df['Wage'].mean(), 'and', df['Penalties'].count()) 
# count() - number of NOT NULL elements

45 7517.56222377297 and 12897